#profilePic{
    height: 150px;
    width: 150px;
    border: darkred groove medium;
    border-radius: 50%;
}

.jumbotron {
    font-family: 'Merriweather', serif;
    background-color: lightslategray;
    max-height: 200px;
}